<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>USE_GOOGLE_MAPS</key>
	<false/>
	<key>USE_CUSTOM_LOGGER</key>
	<true/>
	<key>LAUNCH_DARKLY_KEY</key>
	<string>mob-2976282d-e2f8-4e38-8526-d930a39f9650</string>
</dict>
</plist>
